<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.idc.mapper.IdcIspUserExtendMapper">
	<!-- 返回类型 -->
	<resultMap id="resultIdcIspUserExtendMap" type="Info">
		<!-- 数据库属性和实体类属性对应关系 -->
		<id column="AID" property="aid" />
		<result column="UNIT_NAME" property="unitName" />
		<result column="UNIT_NATURE" property="unitNature" />
		<result column="ID_TYPE" property="idType" />
		<result column="ID_NUMBER" property="idNumber" />
		<result column="ADD" property="add" />
		<result column="ZIP_CODE" property="zipCode" />
		<result column="REGISTER_TIME" property="registerTime" />
		<result column="FK_USER_INFO_ID" property="fkUserInfoId" />
		<result column="FK_OFFICER_ID" property="fkOfficerId" />
		<result column="TICKET_INST_ID" property="ticketInstId" />
		<!-- FK_OFFICER_ID -->
		<association property="idcOfficer" javaType="IdcOfficer" column="{fkOfficerId=FK_OFFICER_ID}" select="getIdcOfficer">
		</association>
		<!--serviceInfos-->
		<collection property="serviceInfos" javaType="java.util.ArrayList"
					select="selectServiceInfosByFkUserExtendId" column="{fkUserExtendId=aid}">
		</collection>
	</resultMap>
	<!-- getIdcOfficer -->
	<select id="getIdcOfficer"  resultMap="com.idc.mapper.IdcIspCofficerInfoMapper.resultIdcIspCofficerInfoMap">
		select
		t1.EMAIL,
		t1.TICKET_INST_ID,
		t1.AID,
		t1.NAME,
		t1.ID_TYPE,
		t1.ID,
		t1.TEL,
		t1.MOBILE
		from IDC_ISP_COFFICER_INFO t1
		where t1.AID = #{fkOfficerId}
	</select>
	<!-- selectServiceInfosByFkUserExtendId -->
	<select id="selectServiceInfosByFkUserExtendId" resultMap="com.idc.mapper.IdcIspServiceInfoMapper.resultIdcIspServiceInfoMap">
		select t1.AID,
			   t1.SERVICE_ID,
			   t1.SERVICE_CONTENT,
			   t1.REG_TYPE,
			   t1.REG_ID,
			   t1.SET_MODE,
			   t1.BUSINESS,
			   t1.FK_USER_EXTEND_ID,
			   t1.TICKET_INST_ID
		  from IDC_ISP_SERVICE_INFO t1
		  where t1.fk_user_extend_id = #{fkUserExtendId}
	</select>
</mapper>