<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.idc.mapper.IdcIspIpsegInfoMapper">
	<!-- 返回类型 -->
	<resultMap id="resultIdcIspIpsegInfoMap" type="IpSegInfo">
		<!-- 数据库属性和实体类属性对应关系 -->
		<id column="AID" property="aid" />
		<result column="TICKET_INST_ID" property="ticketInstId" />
		<result column="ID" property="id" />
		<result column="START_IP" property="startIp" />
		<result column="END_IP" property="endIp" />
		<result column="TYPE" property="type" />
		<result column="USE_TIME" property="useTime" />
		<result column="SOURCE_UNIT" property="sourceUnit" />
		<result column="ALLOCATION_UNIT" property="allocationUnit" />
		<result column="FK_HOUSE_INFO_ID" property="fkHouseInfoId" />
	</resultMap>
 </mapper>