<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.idc.mapper.SysUserGroupMapper">
	<!-- 返回类型 -->
	<resultMap id="resultSysUserGroupMap" type="SysUserGroup">
		<!-- 数据库属性和实体类属性对应关系 -->
				
		<result column="id" property="id" />
				
		<result column="grp_code" property="grpCode" />
				
		<result column="name" property="name" />
				
		<result column="parent_id" property="parentId" />
				
		<result column="description" property="description" />
				
		<result column="tree_type" property="treeType" />
				
		<result column="create_time" property="createTime" />
				
	</resultMap>

	<!-- 通过主键查询记录 -->
	<select id="getModelById" resultType="SysUserGroup">
		select
		<include refid="baseColumn" />
		from sys_user_group where id= #{0}
	</select>

	<!-- map对应的key和实体类中的属性一致 -->
	<select id="getModelByMap" resultType="SysUserGroup"
		parameterType="Map">
		select
		<include refid="baseColumn" />
		from sys_user_group
		<include refid="whereParam" />
	</select>

	<!-- 通过实体类查询记录 -->
	<select id="getModelByObject" resultType="SysUserGroup">
		select
		<include refid="baseColumn" />
		from sys_user_group
		<include refid="whereParam" />
	</select>

	<!-- 查询所有记录 -->
	<select id="queryList" resultType="SysUserGroup">
		select
		<include refid="baseColumn" />
		from sys_user_group
	</select>
    <select id="queryListByObjectByUserId"  parameterType="int" resultType="SysUserGroup">
        select t1.* from sys_user_group t1 LEFT JOIN  sys_ln_user_usergrp t2 on t2.ugrp_id=t1.id
        where t2.user_id= #{0}
    </select>
	<!-- 查询记录:map参数key对应实体类属性 查询多条记录 -->
	<select id="queryListByMap" resultType="SysUserGroup"
		parameterType="Map">
		select
		<include refid="baseColumn" />
		from sys_user_group
		<include refid="whereParam" />
	</select>

	<!-- 查询记录:通过实体类查询多条记录 -->
	<select id="queryListByObject" resultType="SysUserGroup">
		select
		<include refid="baseColumn" />
		from sys_user_group
		<include refid="whereParam" />
	</select>

	<!-- 分页查询 -->
	<select id="queryListPage" parameterType="PageBean" resultType="SysUserGroup">
		select
		<include refid="baseColumn" />
		from sys_user_group
		<include refid="wherePageParam" />
	</select>

	<!-- 通过用户ID获取用户所在组信息 -->
	<select id="getListByUserId" resultType="SysUserGroup">
		select
		<include refid="baseColumn"/>
		from sys_user_group g
		where exists(select 1 from sys_ln_user_usergrp p where g.id=p.ugrp_id and p.user_id = #{0})
	</select>
	
	<!-- update -->
	<update id="updateByObject" parameterType="SysUserGroup" >
		update sys_user_group
		<include refid="updateParam" />
		WHERE id =  #{id}
	</update>

	<update id="updateByMap" parameterType="Map">
		update sys_user_group
		<include refid="updateParam" />
         WHERE id =  #{id}
	</update>

	<!-- 慎用此方法 -->
	<delete id="deleteAll">
		delete from sys_user_group
	</delete>


	<delete id="deleteById">
		delete from sys_user_group where id= #{0}
	</delete>

	<!-- 删除数据 -->
	<delete id="deleteByObject" parameterType="SysUserGroup">
		delete from sys_user_group
		<include refid="whereParam" />
	</delete>

	<!-- 删除数据 -->
	<delete id="deleteByMap" parameterType="Map">
		delete from sys_user_group
		<include refid="whereParam" />
	</delete>

	<!-- 删除数据 -->
	<delete id="deleteByList" parameterType="java.util.List">
		delete from sys_user_group where id in
		<foreach collection="list" index="index" item="item" open="("
			separator="," close=")">
			#{item}
		</foreach>
	</delete>
    <!-- 清除这些组的绑定关系 -->
    <delete id="cleanBindByGroup" parameterType="java.util.List">
        delete from sys_ln_usergrp_role where ugrp_id in
        <foreach collection="list" index="index" item="item" open="("
                 separator="," close=")">
             #{item.ugrpId}
        </foreach>
    </delete>
	<!-- insert保存方法 -->
	<insert id="insert" parameterType="SysUserGroup"
		useGeneratedKeys="true" keyProperty="id">
		<selectKey keyProperty="id" resultType="java.lang.Integer" order="BEFORE">
			select sys_user_group_seq.nextval from dual
		</selectKey>
		INSERT INTO sys_user_group
		(id,
		<include refid="insertColumn" />
		) VALUES
		(#{id},
		<include refid="insertColumnParam" />
		)
	</insert>
    <!--绑定组角色关系-->

    <insert id="bindGroupAndRole" parameterType="java.util.List">
		INSERT INTO sys_ln_usergrp_role (role_id,ugrp_id)
		select slur.* from (
		<foreach collection="list" item="item" index="index"
				 separator="union all">
			select
				#{item.roleId},#{item.ugrpId}
			from dual
		</foreach>
		) slur
    </insert>
	<!-- 批量保存 -->

	<insert id="insertList" parameterType="java.util.List">
		INSERT INTO sys_user_group (
		<include refid="insertColumn" />
		)
		VALUES
		<foreach collection="list" item="item" index="index"
			separator=",">
			(
			<include refid="batchInsertColumnParam" />
			)
		</foreach>
	</insert>


	<!-- sql基本映射 -->
	<sql id="baseColumn">
	  <![CDATA[
		  	id as id,
			grp_code as grpCode,
			name as name,
			parent_id as parentId,
			description as description,
			tree_type as treeType,
			create_time as createTime
	  ]]>
	</sql>
	<sql id="whereParam">
		<where>
						
			<if test="id != null and id != '' ">  <![CDATA[ and id = #{id} ]]></if>
						
			<if test="grpCode != null and grpCode != '' ">  <![CDATA[ and grp_code = #{grpCode} ]]></if>
						
			<if test="name != null and name != '' ">  <![CDATA[ and name = #{name} ]]></if>
						
			<if test="parentId != null and parentId != '' ">  <![CDATA[ and parent_id = #{parentId} ]]></if>
						
			<if test="description != null and description != '' ">  <![CDATA[ and description = #{description} ]]></if>
						
			<if test="treeType != null and treeType != '' ">  <![CDATA[ and tree_type = #{treeType} ]]></if>
						
			<if test="createTime != null ">  <![CDATA[ and create_time = #{createTime} ]]></if>
						
		</where>
	</sql>
	<sql id="wherePageParam">
		<where>
						
			<if test="params.id != null and params.id != '' ">  <![CDATA[ and id = #{params.id} ]]></if>
						
			<if test="params.grpCode != null and params.grpCode != '' ">  <![CDATA[ and grp_code = #{params.grpCode} ]]></if>

			<if test="params.name != null and params.name != '' ">
				<![CDATA[ and upper(name) like '%'||upper(#{params.name})||'%' ]]></if>
						
			<if test="params.parentId != null and params.parentId != '' ">  <![CDATA[ and parent_id = #{params.parentId} ]]></if>
						
			<if test="params.description != null and params.description != '' ">  <![CDATA[ and description = #{params.description} ]]></if>
						
			<if test="params.treeType != null and params.treeType != '' ">  <![CDATA[ and tree_type = #{params.treeType} ]]></if>
						
			<if test="params.createTime != null ">  <![CDATA[ and create_time = #{params.createTime} ]]></if>
						
		</where>
	</sql>

	<!-- update sql -->
	<sql id="updateParam">
		<set>
						
			<!--<if test="id != null and id != '' ">  <![CDATA[  id = #{id } ,]]></if>-->
						
			<if test="grpCode != null and grpCode != '' ">  <![CDATA[  grp_code = #{grpCode,jdbcType=VARCHAR  } ,]]></if>
						
			<if test="name != null and name != '' ">  <![CDATA[  name = #{name,jdbcType=VARCHAR  } ,]]></if>
						
			<if test="parentId != null and parentId != '' ">  <![CDATA[  parent_id = #{parentId ,jdbcType=INTEGER} ,]]></if>
						
			<if test="description != null and description != '' ">  <![CDATA[  description = #{description ,jdbcType=VARCHAR } ,]]></if>
						
			<if test="treeType != null and treeType != '' ">  <![CDATA[  tree_type = #{treeType } ,]]></if>
						
			<if test="createTime != null ">  <![CDATA[  create_time = #{createTime } ,]]></if>
						
		</set>
	</sql>

	<!-- insert sql -->
	<sql id="insertColumn">
        <![CDATA[grp_code,name,parent_id,description ,create_time]]>

		<!--<if test="id != null and id != '' ">  <![CDATA[ id  , ]]></if>-->
				<!-- -->
		<!--<if test="grpCode != null and grpCode != '' ">  <![CDATA[ grp_code  , ]]></if>-->
				<!-- -->
		<!--<if test="name != null and name != '' ">  <![CDATA[ name  , ]]></if>-->
				<!-- -->
		<!--<if test="parentId != null and parentId != '' ">  <![CDATA[ parent_id  , ]]></if>-->
				<!-- -->
		<!--<if test="description != null and description != '' ">  <![CDATA[ description  , ]]></if>-->
				<!-- -->
		<!--<if test="treeType != null and treeType != '' ">  <![CDATA[ tree_type  , ]]></if>-->
				<!-- -->
		<!--<if test="createTime != null and createTime != '' ">  <![CDATA[ create_time   ]]></if>-->
				
	</sql>

	<sql id="insertColumnParam">
        <![CDATA[ #{grpCode,jdbcType=VARCHAR } ,#{name,jdbcType=VARCHAR} ,#{parentId ,jdbcType=INTEGER } ,#{description,jdbcType=VARCHAR} ,#{createTime,jdbcType=TIMESTAMP}]]>
		<!--<if test="id != null and id != '' ">  <![CDATA[ #{id } ,]]></if>-->
		<!-- -->
		<!--<if test="grpCode != null and grpCode != '' ">  <![CDATA[ #{grpCode } ,]]></if>-->
		<!-- -->
		<!--<if test="name != null and name != '' ">  <![CDATA[ #{name } ,]]></if>-->
		<!-- -->
		<!--<if test="parentId != null and parentId != '' ">  <![CDATA[ #{parentId } ,]]></if>-->
		<!-- -->
		<!--<if test="description != null and description != '' ">  <![CDATA[ #{description } ,]]></if>-->
		<!-- -->
		<!--<if test="treeType != null and treeType != '' ">  <![CDATA[ #{treeType } ,]]></if>-->
		<!-- -->
		<!--<if test="createTime != null and createTime != '' ">  <![CDATA[ #{createTime } ]]></if>-->
				
	</sql>

	<!-- 批量保存 -->
	<sql id="batchInsertColumn">
			id,grp_code,name,parent_id,description,tree_type,create_time
	</sql>

	<sql id="batchInsertColumnParam">
			#{item.id},#{item.grpCode},#{item.name},#{item.parentId},#{item.description},#{item.treeType},#{item.createTime}
	</sql>
	<!-- The above code Provide us with useful modules,e.g. getModelById;getModelByMap;getModelByObject;queryList;queryListByMap;queryListByObject;queryListByObjectListPage;queryListByMapListPage;updateByObject;updateByMap;deleteAll; 
		deleteById;deleteByObject;deleteByMap;deleteByList;insert;insertList -->
	<!-- The above code is static code of small changes, the business code start 
		from here -->


































</mapper>