<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.idc.mapper.IdcHisTicketChangeMapper">
	<!-- 返回类型 -->
	<resultMap id="resultIdcHisTicketChangeMap" type="IdcHisTicketChange">
		<!-- 数据库属性和实体类属性对应关系 -->
				
		<result column="ID" property="id" />
				
		<result column="TICKET_INST_ID" property="ticketInstId" />
				
		<result column="APPLYDESC" property="applydesc" />
				
		<result column="OCCUPYCOMMENT" property="occupycomment" />
				
		<result column="CONFIRMRESULT" property="confirmresult" />
				
		<result column="CONFIRMCOMMENT" property="confirmcomment" />
				
		<result column="CONSTRUCT_COMMENT" property="constructComment" />
				
		<result column="REV" property="rev" />
				
		<result column="CREATE_TIME" property="createTime" />
				
	</resultMap>

	<select id="getDataByTicketInstId" resultType="Map">
		select
		t.applydesc,
		t.OCCUPYCOMMENT
		from IDC_HIS_TICKET_CHANGE t
		where t.TICKET_INST_ID = #{0}
		and t.CATALOG='100'
	</select>


	<select id="getDataByCategoryTicketInstId" resultType="Map">
		select
		t.OCCUPYCOMMENT
		from IDC_HIS_TICKET_CHANGE t
		where t.TICKET_INST_ID = #{0}
		and t.CATALOG='200'
	</select>


	<!-- 通过主键查询记录 -->
	<select id="getModelById" resultType="IdcHisTicketChange">
		select
		<include refid="baseColumn" />
		from IDC_HIS_TICKET_CHANGE where ID= #{0}
	</select>

	<!-- map对应的key和实体类中的属性一致 -->
	<select id="getModelByMap" resultType="IdcHisTicketChange"
		parameterType="Map">
		select
		<include refid="baseColumn" />
		from IDC_HIS_TICKET_CHANGE
		<include refid="whereParam" />
	</select>

	<update id="updateByData" parameterType="IdcHisTicketChange">
		update IDC_HIS_TICKET_CHANGE
		<set>
			<if test="applydesc != null and applydesc != '' ">  <![CDATA[ APPLYDESC = #{applydesc } , ]]></if>
			<if test="occupycomment != null and occupycomment != '' ">  <![CDATA[ OCCUPYCOMMENT = #{occupycomment } , ]]></if>
		</set>
		WHERE  TICKET_INST_ID = #{ticketInstId }
	</update>

	<!-- 通过实体类查询记录 -->
	<select id="getModelByObject" resultType="IdcHisTicketChange">
		select
		<include refid="baseColumn" />
		from IDC_HIS_TICKET_CHANGE
		<include refid="whereParam" />
	</select>

	<!-- 查询所有记录 -->
	<select id="queryList" resultType="IdcHisTicketChange">
		select
		<include refid="baseColumn" />
		from IDC_HIS_TICKET_CHANGE
	</select>

	<!-- 查询记录:map参数key对应实体类属性 查询多条记录 -->
	<select id="queryListByMap" resultType="IdcHisTicketChange"
		parameterType="Map">
		select
		<include refid="baseColumn" />
		from IDC_HIS_TICKET_CHANGE
		<include refid="whereParam" />
	</select>

	<!-- 查询记录:通过实体类查询多条记录 -->
	<select id="queryListByObject" resultType="IdcHisTicketChange">
		select
		<include refid="baseColumn" />
		from IDC_HIS_TICKET_CHANGE
		<include refid="whereParam" />
	</select>

	<!-- 分页查询 -->
	<select id="queryListPage" parameterType="PageBean" resultType="IdcHisTicketChange">
		select
		<include refid="baseColumn" />
		from IDC_HIS_TICKET_CHANGE
		<include refid="wherePageParam" />
	</select>
	
	<!-- update -->
	<update id="updateByObject" parameterType="IdcHisTicketChange">
		update IDC_HIS_TICKET_CHANGE
		<include refid="updateParam" />
		<include refid="whereParam" />
	</update>

	<update id="updateByMap" parameterType="Map">
		update IDC_HIS_TICKET_CHANGE
		<include refid="updateParam" />
		<include refid="whereParam" />
	</update>

	<!-- 慎用此方法 -->
	<delete id="deleteAll">
		delete from IDC_HIS_TICKET_CHANGE
	</delete>


	<delete id="deleteById">
		delete from IDC_HIS_TICKET_CHANGE where ID= #{0}
	</delete>

	<!-- 删除数据 -->
	<delete id="deleteByObject" parameterType="IdcHisTicketChange">
		delete from IDC_HIS_TICKET_CHANGE
		<include refid="whereParam" />
	</delete>

	<!-- 删除数据 -->
	<delete id="deleteByMap" parameterType="Map">
		delete from IDC_HIS_TICKET_CHANGE
		<include refid="whereParam" />
	</delete>

	<!-- 删除数据 -->
	<delete id="deleteByList" parameterType="java.util.List">
		delete from IDC_HIS_TICKET_CHANGE where ID in
		<foreach collection="list" index="index" item="item" open="("
			separator="," close=")">
			#{item}
		</foreach>
	</delete>

	<!-- insert保存方法 -->
	<insert id="insert" parameterType="IdcHisTicketChange"
		useGeneratedKeys="true" keyProperty="ID">
		INSERT INTO IDC_HIS_TICKET_CHANGE
		(
		<include refid="insertColumn" />
		) VALUES
		(
		<include refid="insertColumnParam" />
		)
	</insert>

	<!-- 批量保存 -->

	<insert id="insertList" parameterType="java.util.List">
		INSERT INTO IDC_HIS_TICKET_CHANGE (
		<include refid="insertColumn" />
		)
		VALUES
		<foreach collection="list" item="item" index="index"
			separator=",">
			(
			<include refid="batchInsertColumnParam" />
			)
		</foreach>
	</insert>


	<!-- sql基本映射 -->
	<sql id="baseColumn">
	  <![CDATA[
		  	ID as id,
			TICKET_INST_ID as ticketInstId,
			APPLYDESC as applydesc,
			OCCUPYCOMMENT as occupycomment,
			CONFIRMRESULT as confirmresult,
			CONFIRMCOMMENT as confirmcomment,
			CONSTRUCT_COMMENT as constructComment,
			REV as rev,
			CREATE_TIME as createTime
	  ]]>
	</sql>
	<sql id="whereParam">
		<where>
						
			<if test="id != null and id != '' ">  <![CDATA[ and ID = #{id} ]]></if>
						
			<if test="ticketInstId != null and ticketInstId != '' ">  <![CDATA[ and TICKET_INST_ID = #{ticketInstId} ]]></if>
						
			<if test="applydesc != null and applydesc != '' ">  <![CDATA[ and APPLYDESC = #{applydesc} ]]></if>
						
			<if test="occupycomment != null and occupycomment != '' ">  <![CDATA[ and OCCUPYCOMMENT = #{occupycomment} ]]></if>
						
			<if test="confirmresult != null and confirmresult != '' ">  <![CDATA[ and CONFIRMRESULT = #{confirmresult} ]]></if>
						
			<if test="confirmcomment != null and confirmcomment != '' ">  <![CDATA[ and CONFIRMCOMMENT = #{confirmcomment} ]]></if>
						
			<if test="constructComment != null and constructComment != '' ">  <![CDATA[ and CONSTRUCT_COMMENT = #{constructComment} ]]></if>
						
			<if test="rev != null and rev != '' ">  <![CDATA[ and REV = #{rev} ]]></if>
						
			<if test="createTime != null and createTime != '' ">  <![CDATA[ and CREATE_TIME = #{createTime} ]]></if>
						
		</where>
	</sql>
	<sql id="wherePageParam">
		<where>
						
			<if test="params.id != null and params.id != '' ">  <![CDATA[ and ID = #{params.id} ]]></if>
						
			<if test="params.ticketInstId != null and params.ticketInstId != '' ">  <![CDATA[ and TICKET_INST_ID = #{params.ticketInstId} ]]></if>
						
			<if test="params.applydesc != null and params.applydesc != '' ">  <![CDATA[ and APPLYDESC = #{params.applydesc} ]]></if>
						
			<if test="params.occupycomment != null and params.occupycomment != '' ">  <![CDATA[ and OCCUPYCOMMENT = #{params.occupycomment} ]]></if>
						
			<if test="params.confirmresult != null and params.confirmresult != '' ">  <![CDATA[ and CONFIRMRESULT = #{params.confirmresult} ]]></if>
						
			<if test="params.confirmcomment != null and params.confirmcomment != '' ">  <![CDATA[ and CONFIRMCOMMENT = #{params.confirmcomment} ]]></if>
						
			<if test="params.constructComment != null and params.constructComment != '' ">  <![CDATA[ and CONSTRUCT_COMMENT = #{params.constructComment} ]]></if>
						
			<if test="params.rev != null and params.rev != '' ">  <![CDATA[ and REV = #{params.rev} ]]></if>
						
			<if test="params.createTime != null and params.createTime != '' ">  <![CDATA[ and CREATE_TIME = #{params.createTime} ]]></if>
						
		</where>
	</sql>

	<!-- update sql -->
	<sql id="updateParam">
		<set>
						
			<if test="id != null and id != '' ">  <![CDATA[  ID = #{id } ,]]></if>
						
			<if test="ticketInstId != null and ticketInstId != '' ">  <![CDATA[  TICKET_INST_ID = #{ticketInstId } ,]]></if>
						
			<if test="applydesc != null and applydesc != '' ">  <![CDATA[  APPLYDESC = #{applydesc } ,]]></if>
						
			<if test="occupycomment != null and occupycomment != '' ">  <![CDATA[  OCCUPYCOMMENT = #{occupycomment } ,]]></if>
						
			<if test="confirmresult != null and confirmresult != '' ">  <![CDATA[  CONFIRMRESULT = #{confirmresult } ,]]></if>
						
			<if test="confirmcomment != null and confirmcomment != '' ">  <![CDATA[  CONFIRMCOMMENT = #{confirmcomment } ,]]></if>
						
			<if test="constructComment != null and constructComment != '' ">  <![CDATA[  CONSTRUCT_COMMENT = #{constructComment } ,]]></if>
						
			<if test="rev != null and rev != '' ">  <![CDATA[  REV = #{rev } ,]]></if>
						
			<if test="createTime != null and createTime != '' ">  <![CDATA[  CREATE_TIME = #{createTime } ,]]></if>
						
		</set>
	</sql>

	<!-- insert sql -->
	<sql id="insertColumn">
        <trim suffix="" suffixOverrides=",">
				
		<if test="id != null and id != '' ">  <![CDATA[ ID , ]]></if>
				
		<if test="ticketInstId != null and ticketInstId != '' ">  <![CDATA[ TICKET_INST_ID , ]]></if>
				
		<if test="applydesc != null and applydesc != '' ">  <![CDATA[ APPLYDESC , ]]></if>
				
		<if test="occupycomment != null and occupycomment != '' ">  <![CDATA[ OCCUPYCOMMENT , ]]></if>
				
		<if test="confirmresult != null and confirmresult != '' ">  <![CDATA[ CONFIRMRESULT , ]]></if>
				
		<if test="confirmcomment != null and confirmcomment != '' ">  <![CDATA[ CONFIRMCOMMENT , ]]></if>
				
		<if test="constructComment != null and constructComment != '' ">  <![CDATA[ CONSTRUCT_COMMENT , ]]></if>
				
		<if test="rev != null and rev != '' ">  <![CDATA[ REV , ]]></if>
				
		<if test="createTime != null and createTime != '' ">  <![CDATA[ CREATE_TIME , ]]></if>
				</trim>
	</sql>

	<sql id="insertColumnParam">
        <trim suffix="" suffixOverrides=",">
				
		<if test="id != null and id != '' ">  <![CDATA[ #{id } , ]]></if>
				
		<if test="ticketInstId != null and ticketInstId != '' ">  <![CDATA[ #{ticketInstId } , ]]></if>
				
		<if test="applydesc != null and applydesc != '' ">  <![CDATA[ #{applydesc } , ]]></if>
				
		<if test="occupycomment != null and occupycomment != '' ">  <![CDATA[ #{occupycomment } , ]]></if>
				
		<if test="confirmresult != null and confirmresult != '' ">  <![CDATA[ #{confirmresult } , ]]></if>
				
		<if test="confirmcomment != null and confirmcomment != '' ">  <![CDATA[ #{confirmcomment } , ]]></if>
				
		<if test="constructComment != null and constructComment != '' ">  <![CDATA[ #{constructComment } , ]]></if>
				
		<if test="rev != null and rev != '' ">  <![CDATA[ #{rev } , ]]></if>
				
		<if test="createTime != null and createTime != '' ">  <![CDATA[ #{createTime } , ]]></if>
				</trim>
	</sql>

	<!-- 批量保存 -->
	<sql id="batchInsertColumn">
			ID,TICKET_INST_ID,APPLYDESC,OCCUPYCOMMENT,CONFIRMRESULT,CONFIRMCOMMENT,CONSTRUCT_COMMENT,REV,CREATE_TIME
	</sql>

	<sql id="batchInsertColumnParam">
			#{item.id},#{item.ticketInstId},#{item.applydesc},#{item.occupycomment},#{item.confirmresult},#{item.confirmcomment},#{item.constructComment},#{item.rev},#{item.createTime}
	</sql>
	<!-- The above code Provide us with useful modules,e.g. getModelById;getModelByMap;getModelByObject;queryList;queryListByMap;queryListByObject;queryListByObjectListPage;queryListByMapListPage;updateByObject;updateByMap;deleteAll; 
		deleteById;deleteByObject;deleteByMap;deleteByList;insert;insertList -->
	<!-- The above code is static code of small changes, the business code start 
		from here -->


































</mapper>