<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.idc.mapper.IdcHisTicketRecoverMapper">
	<!-- 返回类型 -->
	<resultMap id="resultIdcHisTicketRecoverMap" type="IdcHisTicketRecover">
		<!-- 数据库属性和实体类属性对应关系 -->
				
		<result column="ID" property="id" />
				
		<result column="TICKET_INST_ID" property="ticketInstId" />
				
		<result column="APPLYDESC" property="applydesc" />
				
		<result column="RECOVERTIME" property="recovertime" />
				
		<result column="PAUSETIME" property="pausetime" />
				
		<result column="CONSTRUCT_COMMENT" property="constructComment" />
				
		<result column="REV" property="rev" />
				
		<result column="CREATE_TIME" property="createTime" />
				
	</resultMap>

	<select id="getDataByTicketInstId" resultType="Map">
		select t.ticket_inst_id,
		to_char(t.recovertime, 'yyyy-MM-dd HH24:mi:ss') recovertime,
		t.applydesc,
		t.construct_comment
		from IDC_HIS_TICKET_RECOVER t
		where t.TICKET_INST_ID = #{0}
	</select>


	<!-- 通过主键查询记录 -->
	<select id="getModelById" resultType="IdcHisTicketRecover">
		select
		<include refid="baseColumn" />
		from IDC_HIS_TICKET_RECOVER where ID= #{0}
	</select>

	<!-- map对应的key和实体类中的属性一致 -->
	<select id="getModelByMap" resultType="IdcHisTicketRecover"
		parameterType="Map">
		select
		<include refid="baseColumn" />
		from IDC_HIS_TICKET_RECOVER
		<include refid="whereParam" />
	</select>

	<!-- 通过实体类查询记录 -->
	<select id="getModelByObject" resultType="IdcHisTicketRecover">
		select
		<include refid="baseColumn" />
		from IDC_HIS_TICKET_RECOVER
		<include refid="whereParam" />
	</select>

	<!-- 查询所有记录 -->
	<select id="queryList" resultType="IdcHisTicketRecover">
		select
		<include refid="baseColumn" />
		from IDC_HIS_TICKET_RECOVER
	</select>

	<!-- 查询记录:map参数key对应实体类属性 查询多条记录 -->
	<select id="queryListByMap" resultType="IdcHisTicketRecover"
		parameterType="Map">
		select
		<include refid="baseColumn" />
		from IDC_HIS_TICKET_RECOVER
		<include refid="whereParam" />
	</select>

	<!-- 查询记录:通过实体类查询多条记录 -->
	<select id="queryListByObject" resultType="IdcHisTicketRecover">
		select
		<include refid="baseColumn" />
		from IDC_HIS_TICKET_RECOVER
		<include refid="whereParam" />
	</select>


	<!-- 分页查询 -->
	<select id="queryByTicketInstId"  resultType="IdcHisTicketRecover">
		select
			ID as id,
			TICKET_INST_ID as ticketInstId,
			APPLYDESC as applydesc,
			TO_CHAR(RECOVERTIME,'YYYY-MM-DD HH24:MI:SS') recovertimeStr,
			CONSTRUCT_COMMENT as constructComment,
			REV as rev,
			CREATE_TIME as createTime
		from IDC_HIS_TICKET_RECOVER
		 where TICKET_INST_ID = #{0}
	</select>

	<!-- 分页查询 -->
	<select id="queryListPage" parameterType="PageBean" resultType="IdcHisTicketRecover">
		select
		<include refid="baseColumn" />
		from IDC_HIS_TICKET_RECOVER
		<include refid="wherePageParam" />
	</select>
	
	<!-- update -->
	<update id="updateByObject" parameterType="IdcHisTicketRecover">
		update IDC_HIS_TICKET_RECOVER
		<include refid="updateParam" />
		<include refid="whereParam" />
	</update>

	<update id="updateByIdcHisTicketRecover" parameterType="IdcHisTicketRecover">
		update IDC_HIS_TICKET_RECOVER
		<trim suffix="" suffixOverrides=",">
			<set>
				<if test="id != null and id != '' ">  <![CDATA[  ID = #{id } ,]]></if>
				<if test="ticketInstId != null and ticketInstId != '' ">  <![CDATA[  TICKET_INST_ID = #{ticketInstId } ,]]></if>

				<if test="applydesc != null and applydesc != '' ">  <![CDATA[  APPLYDESC = #{applydesc } ,]]></if>

				<if test="recovertime != null">  <![CDATA[  RECOVERTIME = #{recovertime } ,]]></if>

				<if test="pausetime != null">  <![CDATA[  PAUSETIME = #{pausetime } ,]]></if>

				<if test="constructComment != null and constructComment != '' ">  <![CDATA[  CONSTRUCT_COMMENT = #{constructComment } ]]></if>
	 　
			</set>
		</trim>
		 where TICKET_INST_ID = #{ticketInstId}
	</update>


	<update id="updateByMap" parameterType="Map">
		update IDC_HIS_TICKET_RECOVER
		<include refid="updateParam" />
		<include refid="whereParam" />
	</update>

	<!-- 慎用此方法 -->
	<delete id="deleteAll">
		delete from IDC_HIS_TICKET_RECOVER
	</delete>


	<delete id="deleteById">
		delete from IDC_HIS_TICKET_RECOVER where ID= #{0}
	</delete>

	<!-- 删除数据 -->
	<delete id="deleteByObject" parameterType="IdcHisTicketRecover">
		delete from IDC_HIS_TICKET_RECOVER
		<include refid="whereParam" />
	</delete>

	<!-- 删除数据 -->
	<delete id="deleteByMap" parameterType="Map">
		delete from IDC_HIS_TICKET_RECOVER
		<include refid="whereParam" />
	</delete>

	<!-- 删除数据 -->
	<delete id="deleteByList" parameterType="java.util.List">
		delete from IDC_HIS_TICKET_RECOVER where ID in
		<foreach collection="list" index="index" item="item" open="("
			separator="," close=")">
			#{item}
		</foreach>
	</delete>

	<!-- insert保存方法 -->
	<insert id="insert" parameterType="IdcHisTicketRecover"
		useGeneratedKeys="true" keyProperty="ID">
		INSERT INTO IDC_HIS_TICKET_RECOVER
		(
		<include refid="insertColumn" />
		) VALUES
		(
		<include refid="insertColumnParam" />
		)
	</insert>

	<!-- 批量保存 -->

	<insert id="insertList" parameterType="java.util.List">
		INSERT INTO IDC_HIS_TICKET_RECOVER (
		<include refid="insertColumn" />
		)
		VALUES
		<foreach collection="list" item="item" index="index"
			separator=",">
			(
			<include refid="batchInsertColumnParam" />
			)
		</foreach>
	</insert>


	<!-- sql基本映射 -->
	<sql id="baseColumn">
	  <![CDATA[
		  	ID as id,
			TICKET_INST_ID as ticketInstId,
			APPLYDESC as applydesc,
			RECOVERTIME as recovertime,
			PAUSETIME as pausetime,
			CONSTRUCT_COMMENT as constructComment,
			REV as rev,
			CREATE_TIME as createTime
	  ]]>
	</sql>
	<sql id="whereParam">
		<where>
						
			<if test="id != null and id != '' ">  <![CDATA[ and ID = #{id} ]]></if>
						
			<if test="ticketInstId != null and ticketInstId != '' ">  <![CDATA[ and TICKET_INST_ID = #{ticketInstId} ]]></if>
						
			<if test="applydesc != null and applydesc != '' ">  <![CDATA[ and APPLYDESC = #{applydesc} ]]></if>
						
			<if test="recovertime != null and recovertime != '' ">  <![CDATA[ and RECOVERTIME = #{recovertime} ]]></if>
						
			<if test="pausetime != null and pausetime != '' ">  <![CDATA[ and PAUSETIME = #{pausetime} ]]></if>
						
			<if test="constructComment != null and constructComment != '' ">  <![CDATA[ and CONSTRUCT_COMMENT = #{constructComment} ]]></if>
						
			<if test="rev != null and rev != '' ">  <![CDATA[ and REV = #{rev} ]]></if>
						
			<if test="createTime != null and createTime != '' ">  <![CDATA[ and CREATE_TIME = #{createTime} ]]></if>
						
		</where>
	</sql>
	<sql id="wherePageParam">
		<where>
						
			<if test="params.id != null and params.id != '' ">  <![CDATA[ and ID = #{params.id} ]]></if>
						
			<if test="params.ticketInstId != null and params.ticketInstId != '' ">  <![CDATA[ and TICKET_INST_ID = #{params.ticketInstId} ]]></if>
						
			<if test="params.applydesc != null and params.applydesc != '' ">  <![CDATA[ and APPLYDESC = #{params.applydesc} ]]></if>
						
			<if test="params.recovertime != null and params.recovertime != '' ">  <![CDATA[ and RECOVERTIME = #{params.recovertime} ]]></if>
						
			<if test="params.pausetime != null and params.pausetime != '' ">  <![CDATA[ and PAUSETIME = #{params.pausetime} ]]></if>
						
			<if test="params.constructComment != null and params.constructComment != '' ">  <![CDATA[ and CONSTRUCT_COMMENT = #{params.constructComment} ]]></if>
						
			<if test="params.rev != null and params.rev != '' ">  <![CDATA[ and REV = #{params.rev} ]]></if>
						
			<if test="params.createTime != null and params.createTime != '' ">  <![CDATA[ and CREATE_TIME = #{params.createTime} ]]></if>
						
		</where>
	</sql>

	<!-- update sql -->
	<sql id="updateParam">
		<set>
						
			<if test="id != null and id != '' ">  <![CDATA[  ID = #{id } ,]]></if>
						
			<if test="ticketInstId != null and ticketInstId != '' ">  <![CDATA[  TICKET_INST_ID = #{ticketInstId } ,]]></if>
						
			<if test="applydesc != null and applydesc != '' ">  <![CDATA[  APPLYDESC = #{applydesc } ,]]></if>
						
			<if test="recovertime != null　">  <![CDATA[  RECOVERTIME = #{recovertime } ,]]></if>
						
			<if test="pausetime != null 　　">  <![CDATA[  PAUSETIME = #{pausetime } ,]]></if>
						
			<if test="constructComment != null and constructComment != '' ">  <![CDATA[  CONSTRUCT_COMMENT = #{constructComment } ,]]></if>
						
			<if test="rev != null and rev != '' ">  <![CDATA[  REV = #{rev } ,]]></if>　
						
		</set>
	</sql>

	<!-- insert sql -->
	<sql id="insertColumn">
        <trim suffix="" suffixOverrides=",">
				
		<if test="id != null and id != '' ">  <![CDATA[ ID , ]]></if>
				
		<if test="ticketInstId != null and ticketInstId != '' ">  <![CDATA[ TICKET_INST_ID , ]]></if>
				
		<if test="applydesc != null and applydesc != '' ">  <![CDATA[ APPLYDESC , ]]></if>
				
		<if test="recovertime != null and recovertime != '' ">  <![CDATA[ RECOVERTIME , ]]></if>
				
		<if test="pausetime != null and pausetime != '' ">  <![CDATA[ PAUSETIME , ]]></if>
				
		<if test="constructComment != null and constructComment != '' ">  <![CDATA[ CONSTRUCT_COMMENT , ]]></if>
				
		<if test="rev != null and rev != '' ">  <![CDATA[ REV , ]]></if>
				
		<if test="createTime != null and createTime != '' ">  <![CDATA[ CREATE_TIME , ]]></if>
				</trim>
	</sql>

	<sql id="insertColumnParam">
        <trim suffix="" suffixOverrides=",">
				
		<if test="id != null and id != '' ">  <![CDATA[ #{id } , ]]></if>
				
		<if test="ticketInstId != null and ticketInstId != '' ">  <![CDATA[ #{ticketInstId } , ]]></if>
				
		<if test="applydesc != null and applydesc != '' ">  <![CDATA[ #{applydesc } , ]]></if>
				
		<if test="recovertime != null and recovertime != '' ">  <![CDATA[ #{recovertime } , ]]></if>
				
		<if test="pausetime != null and pausetime != '' ">  <![CDATA[ #{pausetime } , ]]></if>
				
		<if test="constructComment != null and constructComment != '' ">  <![CDATA[ #{constructComment } , ]]></if>
				
		<if test="rev != null and rev != '' ">  <![CDATA[ #{rev } , ]]></if>
				
		<if test="createTime != null and createTime != '' ">  <![CDATA[ #{createTime } , ]]></if>
				</trim>
	</sql>

	<!-- 批量保存 -->
	<sql id="batchInsertColumn">
			ID,TICKET_INST_ID,APPLYDESC,RECOVERTIME,PAUSETIME,CONSTRUCT_COMMENT,REV,CREATE_TIME
	</sql>

	<sql id="batchInsertColumnParam">
			#{item.id},#{item.ticketInstId},#{item.applydesc},#{item.recovertime},#{item.pausetime},#{item.constructComment},#{item.rev},#{item.createTime}
	</sql>
	<!-- The above code Provide us with useful modules,e.g. getModelById;getModelByMap;getModelByObject;queryList;queryListByMap;queryListByObject;queryListByObjectListPage;queryListByMapListPage;updateByObject;updateByMap;deleteAll; 
		deleteById;deleteByObject;deleteByMap;deleteByList;insert;insertList -->
	<!-- The above code is static code of small changes, the business code start 
		from here -->

	<update id="updateByData" parameterType="IdcHisTicketRecover">
		update idc_his_ticket_recover
		<set>
			<if test="recovertime != null  ">  <![CDATA[ recovertime = #{recovertime } , ]]></if>
			<if test="constructComment != null and constructComment != '' ">  <![CDATA[ CONSTRUCT_COMMENT = #{constructComment } , ]]></if>
			<if test="applydesc != null and applydesc != '' ">  <![CDATA[ APPLYDESC = #{applydesc } , ]]></if>
		</set>
		WHERE  ticket_inst_id = #{ticketInstId }

	</update>

</mapper>