<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.idc.mapper.IdcIspLocalServerHhidMapper">
	<!-- 返回类型 -->
	<resultMap id="resultIdcIspLocalServerHhidMap" type="IdcIspLocalServerHhid">
		<!-- 数据库属性和实体类属性对应关系 -->
				
		<result column="AID" property="aid" />
				
		<result column="FK_CUSTOMER_ID" property="fkCustomerId" />
				
		<result column="FRAMEINFO_ID" property="frameinfoId" />
				
	</resultMap>

	<!-- 通过主键查询记录 -->
	<select id="getModelById" resultType="IdcIspLocalServerHhid">
		select
		<include refid="baseColumn" />
		from IDC_ISP_LOCAL_SERVER_HHID where AID= #{0}
	</select>

	<!-- map对应的key和实体类中的属性一致 -->
	<select id="getModelByMap" resultType="IdcIspLocalServerHhid"
		parameterType="Map">
		select
		<include refid="baseColumn" />
		from IDC_ISP_LOCAL_SERVER_HHID
		<include refid="whereParam" />
	</select>

	<!-- 通过实体类查询记录 -->
	<select id="getModelByObject" resultType="IdcIspLocalServerHhid">
		select
		<include refid="baseColumn" />
		from IDC_ISP_LOCAL_SERVER_HHID
		<include refid="whereParam" />
	</select>

	<!-- 查询所有记录 -->
	<select id="queryList" resultType="IdcIspLocalServerHhid">
		select
		<include refid="baseColumn" />
		from IDC_ISP_LOCAL_SERVER_HHID
	</select>

	<!-- 查询记录:map参数key对应实体类属性 查询多条记录 -->
	<select id="queryListByMap" resultType="IdcIspLocalServerHhid"
		parameterType="Map">
		select
		<include refid="baseColumn" />
		from IDC_ISP_LOCAL_SERVER_HHID
		<include refid="whereParam" />
	</select>

	<!-- 查询记录:通过实体类查询多条记录 -->
	<select id="queryListByObject" resultType="IdcIspLocalServerHhid">
		select
		<include refid="baseColumn" />
		from IDC_ISP_LOCAL_SERVER_HHID
		<include refid="whereParam" />
	</select>

	<!-- 分页查询 -->
	<select id="queryListPage" parameterType="PageBean" resultType="IdcIspLocalServerHhid">
		select
		<include refid="baseColumn" />
		from IDC_ISP_LOCAL_SERVER_HHID
		<include refid="wherePageParam" />
	</select>
	
	<!-- update -->
	<update id="updateByObject" parameterType="IdcIspLocalServerHhid">
		update IDC_ISP_LOCAL_SERVER_HHID
		<include refid="updateParam" />
		<include refid="whereParam" />
	</update>

	<update id="updateByMap" parameterType="Map">
		update IDC_ISP_LOCAL_SERVER_HHID
		<include refid="updateParam" />
		<include refid="whereParam" />
	</update>

	<!-- 慎用此方法 -->
	<delete id="deleteAll">
		delete from IDC_ISP_LOCAL_SERVER_HHID
	</delete>


	<delete id="deleteById">
		delete from IDC_ISP_LOCAL_SERVER_HHID where AID= #{0}
	</delete>

	<!-- 删除数据 -->
	<delete id="deleteByObject" parameterType="IdcIspLocalServerHhid">
		delete from IDC_ISP_LOCAL_SERVER_HHID
		<include refid="whereParam" />
	</delete>

	<!-- 删除数据 -->
	<delete id="deleteByMap" parameterType="Map">
		delete from IDC_ISP_LOCAL_SERVER_HHID
		<include refid="whereParam" />
	</delete>

	<!-- 删除数据 -->
	<delete id="deleteByList" parameterType="java.util.List">
		delete from IDC_ISP_LOCAL_SERVER_HHID where AID in
		<foreach collection="list" index="index" item="item" open="("
			separator="," close=")">
			#{item}
		</foreach>
	</delete>

	<!-- insert保存方法 -->
	<insert id="insert" parameterType="IdcIspLocalServerHhid"
		useGeneratedKeys="true" keyProperty="AID">
		INSERT INTO IDC_ISP_LOCAL_SERVER_HHID
		(
		<include refid="insertColumn" />
		) VALUES
		(
		<include refid="insertColumnParam" />
		)
	</insert>

	<!-- 批量保存 -->

	<insert id="insertList" parameterType="java.util.List">
		INSERT INTO IDC_ISP_LOCAL_SERVER_HHID (
		<include refid="insertColumn" />
		)
		VALUES
		<foreach collection="list" item="item" index="index"
			separator=",">
			(
			<include refid="batchInsertColumnParam" />
			)
		</foreach>
	</insert>


	<!-- sql基本映射 -->
	<sql id="baseColumn">
	  <![CDATA[
		  	AID as aid,
			FK_CUSTOMER_ID as fkCustomerId,
			FRAMEINFO_ID as frameinfoId
	  ]]>
	</sql>
	<sql id="whereParam">
		<where>
						
			<if test="aid != null and aid != '' ">  <![CDATA[ and AID = #{aid} ]]></if>
						
			<if test="fkCustomerId != null and fkCustomerId != '' ">  <![CDATA[ and FK_CUSTOMER_ID = #{fkCustomerId} ]]></if>
						
			<if test="frameinfoId != null and frameinfoId != '' ">  <![CDATA[ and FRAMEINFO_ID = #{frameinfoId} ]]></if>
						
		</where>
	</sql>
	<sql id="wherePageParam">
		<where>
						
			<if test="params.aid != null and params.aid != '' ">  <![CDATA[ and AID = #{params.aid} ]]></if>
						
			<if test="params.fkCustomerId != null and params.fkCustomerId != '' ">  <![CDATA[ and FK_CUSTOMER_ID = #{params.fkCustomerId} ]]></if>
						
			<if test="params.frameinfoId != null and params.frameinfoId != '' ">  <![CDATA[ and FRAMEINFO_ID = #{params.frameinfoId} ]]></if>
						
		</where>
	</sql>

	<!-- update sql -->
	<sql id="updateParam">
		<set>
						
			<if test="aid != null and aid != '' ">  <![CDATA[  AID = #{aid } ,]]></if>
						
			<if test="fkCustomerId != null and fkCustomerId != '' ">  <![CDATA[  FK_CUSTOMER_ID = #{fkCustomerId } ,]]></if>
						
			<if test="frameinfoId != null and frameinfoId != '' ">  <![CDATA[  FRAMEINFO_ID = #{frameinfoId } ,]]></if>
						
		</set>
	</sql>

	<!-- insert sql -->
	<sql id="insertColumn">
        <trim suffix="" suffixOverrides=",">
				
		<if test="aid != null and aid != '' ">  <![CDATA[ AID , ]]></if>
				
		<if test="fkCustomerId != null and fkCustomerId != '' ">  <![CDATA[ FK_CUSTOMER_ID , ]]></if>
				
		<if test="frameinfoId != null and frameinfoId != '' ">  <![CDATA[ FRAMEINFO_ID , ]]></if>
				</trim>
	</sql>

	<sql id="insertColumnParam">
        <trim suffix="" suffixOverrides=",">
				
		<if test="aid != null and aid != '' ">  <![CDATA[ #{aid } , ]]></if>
				
		<if test="fkCustomerId != null and fkCustomerId != '' ">  <![CDATA[ #{fkCustomerId } , ]]></if>
				
		<if test="frameinfoId != null and frameinfoId != '' ">  <![CDATA[ #{frameinfoId } , ]]></if>
				</trim>
	</sql>

	<!-- 批量保存 -->
	<sql id="batchInsertColumn">
			AID,FK_CUSTOMER_ID,FRAMEINFO_ID
	</sql>

	<sql id="batchInsertColumnParam">
			#{item.aid},#{item.fkCustomerId},#{item.frameinfoId}
	</sql>
</mapper>