<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.idc.mapper.IdcReNewlyModelMapper">
	<resultMap id="resultIdcReNewlyModelMap" type="IdcReNewlyModel">
		<!-- 数据库属性和实体类属性对应关系 -->

		<result column="ID" property="id" />

		<result column="REV" property="rev" />

		<result column="NAME" property="name" />

		<result column="CATEGORY" property="category" />

		<result column="DESC" property="desc" />

		<result column="CREATE_TIME" property="createTime" />

	</resultMap>

	<select id="getModelByTicketInstId" resultMap="resultIdcReNewlyModelMap">
		select t.id,
			   t.rev,
			   t.name,
			   t.category,
       		   t."DESC" as "desc",
			   t.create_time,
			   t.ticket_inst_id,
			   t.prod_inst_id from IDC_RE_NEWLY_MODEL t
					where t.id=(select max(x.id)
                  from IDC_RE_NEWLY_MODEL x
                  where x.ticket_inst_id=#{0})
	</select>

	<update id="updateModel" parameterType="IdcReNewlyModel">
		update IDC_RE_NEWLY_MODEL
		<trim suffix="" suffixOverrides=",">
			<set>
				<if test="name != null and name != '' ">  <![CDATA[ NAME = #{name}  , ]]></if>
				<if test="category != null and category != '' ">  <![CDATA[ CATEGORY = #{category}  , ]]></if>
				<if test="desc != null and desc != '' ">  <![CDATA[ "DESC" = #{desc}  , ]]></if>
			</set>
		</trim>
		where TICKET_INST_ID = #{ticketInstId}
	</update>

	<!-- insert保存方法 -->
	<insert id="insertNewlyModel" parameterType="IdcReNewlyModel" >
		INSERT INTO IDC_RE_NEWLY_MODEL
		(
		<trim suffix="" suffixOverrides=",">
			<if test="id != null and id != '' ">  <![CDATA[ ID , ]]></if>
			<if test="rev != null and rev != '' ">  <![CDATA[ REV , ]]></if>
			<if test="name != null and name != '' ">  <![CDATA[ NAME , ]]></if>
			<if test="category != null and category != '' ">  <![CDATA[ CATEGORY , ]]></if>
			<if test="desc != null and desc != '' ">  <![CDATA[ "DESC" , ]]></if>
		</trim>
		) VALUES
		(
		<trim suffix="" suffixOverrides=",">
			<if test="id != null and id != '' ">  <![CDATA[ #{id } , ]]></if>
			<if test="rev != null and rev != '' ">  <![CDATA[ #{rev } , ]]></if>
			<if test="name != null and name != '' ">  <![CDATA[ #{name } , ]]></if>
			<if test="category != null and category != '' ">  <![CDATA[ #{category } , ]]></if>
			<if test="desc != null and desc != '' ">  <![CDATA[ #{desc } , ]]></if>
		</trim>
		)
	</insert>
</mapper>