<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.idc.mapper.IdcReRackModelMapper">
	<resultMap id="resultIdcReRackModelMap" type="IdcReRackModel">
		<!-- 数据库属性和实体类属性对应关系 -->
		<id column="ID" property="id" />
		<result column="REV" property="rev" />
		<result column="SPEC" property="spec" />
		<result column="RACK_NUM" property="rackNum" />
		<result column="SEAT_NUM" property="seatNum" />
		<result column="RATED_POWER" property="ratedPower" />
		<result column="DESC" property="desc" />
		<result column="SUPPLYTYPE" property="supplyType" />
		<result column="CREATE_TIME" property="createTime" />
	</resultMap>

	<select id="getModelByTicketInstId" resultMap="resultIdcReRackModelMap">
		select t.id,
			   t.rev,
			   t.spec,
			   t.rack_num,
			   t.seat_num,
			   t.rated_power,
       		   t."DESC" as "desc",
			   t.create_time,
			   t.supplytype,
			   t.rackorracunit,
			   t.ticket_inst_id,
			   t.prod_inst_id from IDC_RE_RACK_MODEL t
			   		where t.id=(select max(x.id)
                  from IDC_RE_RACK_MODEL x
                  where x.ticket_inst_id=#{0})
	</select>

	<update id="updateModel" parameterType="IdcReRackModel">
		update IDC_RE_RACK_MODEL
		<trim suffix="" suffixOverrides=",">
			<set>
				<if test="spec != null and spec != '' ">  <![CDATA[ SPEC = #{spec}  , ]]></if>
				<if test="rackNum != null and rackNum != '' ">  <![CDATA[ RACK_NUM = #{rackNum}  , ]]></if>
				<if test="supplyType != null and supplyType != '' ">  <![CDATA[ SUPPLYTYPE = #{supplyTyp}  , ]]></if>
				<if test="desc != null and desc != '' ">  <![CDATA[ "DESC" = #{desc}  , ]]></if>
				<if test="seatNum != null and seatNum != '' ">  <![CDATA[ SEAT_NUM = #{seatNum}  , ]]></if>
			</set>
		</trim>
		where TICKET_INST_ID = #{ticketInstId}
	</update>

	<!-- insert保存方法 -->
	<insert id="insertRackModel" parameterType="IdcReRackModel">
		INSERT INTO IDC_RE_RACK_MODEL
		(
			<trim suffix="" suffixOverrides=",">
				<if test="id != null and id != '' ">  <![CDATA[ ID , ]]></if>
				<if test="rev != null and rev != '' ">  <![CDATA[ REV , ]]></if>
				<if test="spec != null and spec != '' ">  <![CDATA[ SPEC , ]]></if>
				<if test="rackNum != null and rackNum != '' ">  <![CDATA[ RACK_NUM , ]]></if>
				<if test="seatNum != null and seatNum != '' ">  <![CDATA[ SEAT_NUM , ]]></if>
				<if test="ratedPower != null and ratedPower != '' ">  <![CDATA[ RATED_POWER , ]]></if>
				<if test="desc != null and desc != '' ">  <![CDATA[ "DESC" , ]]></if>
				<if test="supplyType != null and supplyType != '' ">  <![CDATA[ supplyType, ]]></if>
			</trim>
		) VALUES
		(
			<trim suffix="" suffixOverrides=",">
				<if test="id != null and id != '' ">  <![CDATA[ #{id } , ]]></if>
				<if test="rev != null and rev != '' ">  <![CDATA[ #{rev } , ]]></if>
				<if test="spec != null and spec != '' ">  <![CDATA[ #{spec } , ]]></if>
				<if test="rackNum != null and rackNum != '' ">  <![CDATA[ #{rackNum } , ]]></if>
				<if test="seatNum != null and seatNum != '' ">  <![CDATA[ #{seatNum } , ]]></if>
				<if test="ratedPower != null and ratedPower != '' ">  <![CDATA[ #{ratedPower } , ]]></if>
				<if test="desc != null and desc != '' ">  <![CDATA[ #{desc } , ]]></if>
				<if test="supplyType != null and supplyType != '' ">  <![CDATA[ #{supplyType } , ]]></if>
			</trim>
		)
	</insert>
</mapper>