<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.idc.mapper.IdcHostMapper">
	<!-- 返回类型 -->
	<resultMap id="resultIdcHostMap" type="IdcHost">
		<!-- 数据库属性和实体类属性对应关系 -->
				
		<result column="DEVICEID" property="deviceid" />
				
		<result column="DEVICETYPE" property="devicetype" />
				
		<result column="OS" property="os" />
				
		<result column="CPUSIZE" property="cpusize" />
				
		<result column="MEMSIZE" property="memsize" />
				
		<result column="DISKSIZE" property="disksize" />
				
		<result column="USERID" property="userid" />
				
		<result column="SYSDESCR" property="sysdescr" />

        <result column="IPADDRESS" property="ipaddress"/>
				
	</resultMap>

	<!-- 通过主键查询记录 -->
	<select id="getModelById" resultType="IdcHost">
		select
		<include refid="baseColumn" />
		from IDC_HOST where DEVICEID= #{0}
	</select>

	<!-- map对应的key和实体类中的属性一致 -->
	<select id="getModelByMap" resultType="IdcHost"
		parameterType="Map">
		select
		<include refid="baseColumn" />
		from IDC_HOST
		<include refid="whereParam" />
	</select>

	<!-- 通过实体类查询记录 -->
	<select id="getModelByObject" resultType="IdcHost">
		select
		<include refid="baseColumn" />
		from IDC_HOST
		<include refid="whereParam" />
	</select>

	<!-- 查询所有记录 -->
	<select id="queryList" resultType="IdcHost">
		select
		<include refid="baseColumn" />
		from IDC_HOST
	</select>

	<!-- 查询记录:map参数key对应实体类属性 查询多条记录 -->
	<select id="queryListByMap" resultType="IdcHost"
		parameterType="Map">
		select
		<include refid="baseColumn" />
		from IDC_HOST
		<include refid="whereParam" />
	</select>

	<!-- 查询记录:通过实体类查询多条记录 -->
	<select id="queryListByObject" resultType="IdcHost">
		select
		<include refid="baseColumn" />
		from IDC_HOST
		<include refid="whereParam" />
	</select>

	<!-- 分页查询 -->
	<select id="queryListPage" parameterType="PageBean" resultType="IdcHost">
		select
		<include refid="baseColumn" />
		from IDC_HOST
		<include refid="wherePageParam" />
	</select>
	
	<!-- update -->
	<update id="updateByObject" parameterType="IdcHost">
		update IDC_HOST
		<include refid="updateParam" />
		WHERE DEVICEID=#{deviceid}
	</update>

	<update id="updateByMap" parameterType="Map">
		update IDC_HOST
		<include refid="updateParam" />
		<include refid="whereParam" />
	</update>

	<!-- 慎用此方法 -->
	<delete id="deleteAll">
		delete from IDC_HOST
	</delete>


	<delete id="deleteById">
		delete from IDC_HOST where DEVICEID= #{0}
	</delete>

	<!-- 删除数据 -->
	<delete id="deleteByObject" parameterType="IdcHost">
		delete from IDC_HOST
		<include refid="whereParam" />
	</delete>

	<!-- 删除数据 -->
	<delete id="deleteByMap" parameterType="Map">
		delete from IDC_HOST
		<include refid="whereParam" />
	</delete>

	<!-- 删除数据 -->
	<delete id="deleteByList" parameterType="java.util.List">
		delete from IDC_HOST where DEVICEID in
		<foreach collection="list" index="index" item="item" open="("
			separator="," close=")">
			#{item}
		</foreach>
	</delete>

	<!-- insert保存方法 -->
	<insert id="insert" parameterType="IdcHost"
		useGeneratedKeys="true" keyProperty="DEVICEID">
		INSERT INTO IDC_HOST
		(
		<include refid="insertColumn" />
		) VALUES
		(
		<include refid="insertColumnParam" />
		)
	</insert>

	<!-- 批量保存 -->

	<insert id="insertList" parameterType="java.util.List">
		INSERT INTO IDC_HOST (
		<include refid="insertColumn" />
		)
		VALUES
		<foreach collection="list" item="item" index="index"
			separator=",">
			(
			<include refid="batchInsertColumnParam" />
			)
		</foreach>
	</insert>


	<!-- sql基本映射 -->
	<sql id="baseColumn">
	  <![CDATA[
		  	DEVICEID as deviceid,
			DEVICETYPE as devicetype,
			OS as os,
			CPUSIZE as cpusize,
			MEMSIZE as memsize,
			DISKSIZE as disksize,
			USERID as userid,
			SYSDESCR as sysdescr,
			IPADDRESS as ipaddress
	  ]]>
	</sql>
	<sql id="whereParam">
		<where>
						
			<if test="deviceid != null and deviceid != '' ">  <![CDATA[ and DEVICEID = #{deviceid} ]]></if>
						
			<if test="devicetype != null and devicetype != '' ">  <![CDATA[ and DEVICETYPE = #{devicetype} ]]></if>
						
			<if test="os != null and os != '' ">  <![CDATA[ and OS = #{os} ]]></if>
						
			<if test="cpusize != null and cpusize != '' ">  <![CDATA[ and CPUSIZE = #{cpusize} ]]></if>
						
			<if test="memsize != null and memsize != '' ">  <![CDATA[ and MEMSIZE = #{memsize} ]]></if>
						
			<if test="disksize != null and disksize != '' ">  <![CDATA[ and DISKSIZE = #{disksize} ]]></if>
						
			<if test="userid != null and userid != '' ">  <![CDATA[ and USERID = #{userid} ]]></if>
						
			<if test="sysdescr != null and sysdescr != '' ">  <![CDATA[ and SYSDESCR = #{sysdescr} ]]></if>

            <if test="ipaddress != null and ipaddress != '' ">
                <![CDATA[ and IPADDRESS = #{ipaddress} ]]></if>
						
		</where>
	</sql>
	<sql id="wherePageParam">
		<where>
						
			<if test="params.deviceid != null and params.deviceid != '' ">  <![CDATA[ and DEVICEID = #{params.deviceid} ]]></if>
						
			<if test="params.devicetype != null and params.devicetype != '' ">  <![CDATA[ and DEVICETYPE = #{params.devicetype} ]]></if>
						
			<if test="params.os != null and params.os != '' ">  <![CDATA[ and OS = #{params.os} ]]></if>
						
			<if test="params.cpusize != null and params.cpusize != '' ">  <![CDATA[ and CPUSIZE = #{params.cpusize} ]]></if>
						
			<if test="params.memsize != null and params.memsize != '' ">  <![CDATA[ and MEMSIZE = #{params.memsize} ]]></if>
						
			<if test="params.disksize != null and params.disksize != '' ">  <![CDATA[ and DISKSIZE = #{params.disksize} ]]></if>
						
			<if test="params.userid != null and params.userid != '' ">  <![CDATA[ and USERID = #{params.userid} ]]></if>
						
			<if test="params.sysdescr != null and params.sysdescr != '' ">  <![CDATA[ and SYSDESCR = #{params.sysdescr} ]]></if>

            <if test="params.ipaddress != null and params.ipaddress != '' ">
                <![CDATA[ and IPADDRESS = #{params.ipaddress} ]]></if>
						
		</where>
	</sql>

	<!-- update sql -->
	<sql id="updateParam">
		<set>
						
			<if test="deviceid != null and deviceid != '' ">  <![CDATA[  DEVICEID = #{deviceid } ,]]></if>
						
			<if test="devicetype != null and devicetype != '' ">  <![CDATA[  DEVICETYPE = #{devicetype } ,]]></if>
						
			<if test="os != null and os != '' ">  <![CDATA[  OS = #{os } ,]]></if>
						
			<if test="cpusize != null and cpusize != '' ">  <![CDATA[  CPUSIZE = #{cpusize } ,]]></if>
						
			<if test="memsize != null and memsize != '' ">  <![CDATA[  MEMSIZE = #{memsize } ,]]></if>
						
			<if test="disksize != null and disksize != '' ">  <![CDATA[  DISKSIZE = #{disksize } ,]]></if>
						
			<if test="userid != null and userid != '' ">  <![CDATA[  USERID = #{userid } ,]]></if>
						
			<if test="sysdescr != null and sysdescr != '' ">  <![CDATA[  SYSDESCR = #{sysdescr } ,]]></if>

            <if test="ipaddress != null and ipaddress != '' ">
                <![CDATA[  IPADDRESS = #{ipaddress } ,]]></if>
						
		</set>
	</sql>

	<!-- insert sql -->
	<sql id="insertColumn">
        <trim suffix="" suffixOverrides=",">
				
		<if test="deviceid != null and deviceid != '' ">  <![CDATA[ DEVICEID , ]]></if>
				
		<if test="devicetype != null and devicetype != '' ">  <![CDATA[ DEVICETYPE , ]]></if>
				
		<if test="os != null and os != '' ">  <![CDATA[ OS , ]]></if>
				
		<if test="cpusize != null and cpusize != '' ">  <![CDATA[ CPUSIZE , ]]></if>
				
		<if test="memsize != null and memsize != '' ">  <![CDATA[ MEMSIZE , ]]></if>
				
		<if test="disksize != null and disksize != '' ">  <![CDATA[ DISKSIZE , ]]></if>
				
		<if test="userid != null and userid != '' ">  <![CDATA[ USERID , ]]></if>
				
		<if test="sysdescr != null and sysdescr != '' ">  <![CDATA[ SYSDESCR , ]]></if>

            <if test="ipaddress != null and ipaddress != '' ">  <![CDATA[ IPADDRESS , ]]></if>
        </trim>
	</sql>

	<sql id="insertColumnParam">
        <trim suffix="" suffixOverrides=",">
				
		<if test="deviceid != null and deviceid != '' ">  <![CDATA[ #{deviceid } , ]]></if>
				
		<if test="devicetype != null and devicetype != '' ">  <![CDATA[ #{devicetype } , ]]></if>
				
		<if test="os != null and os != '' ">  <![CDATA[ #{os } , ]]></if>
				
		<if test="cpusize != null and cpusize != '' ">  <![CDATA[ #{cpusize } , ]]></if>
				
		<if test="memsize != null and memsize != '' ">  <![CDATA[ #{memsize } , ]]></if>
				
		<if test="disksize != null and disksize != '' ">  <![CDATA[ #{disksize } , ]]></if>
				
		<if test="userid != null and userid != '' ">  <![CDATA[ #{userid } , ]]></if>
				
		<if test="sysdescr != null and sysdescr != '' ">  <![CDATA[ #{sysdescr } , ]]></if>

            <if test="ipaddress != null and ipaddress != '' ">  <![CDATA[ #{ipaddress } , ]]></if>
        </trim>
	</sql>

	<!-- 批量保存 -->
	<sql id="batchInsertColumn">
        DEVICEID,DEVICETYPE,OS,CPUSIZE,MEMSIZE,DISKSIZE,USERID,SYSDESCR,IPADDRESS
	</sql>

	<sql id="batchInsertColumnParam">
        #{item.deviceid},#{item.devicetype},#{item.os},#{item.cpusize},#{item.memsize},#{item.disksize},#{item.userid},#{item.sysdescr},,#{item.ipaddress}
	</sql>
	<!-- The above code Provide us with useful modules,e.g. getModelById;getModelByMap;getModelByObject;queryList;queryListByMap;queryListByObject;queryListByObjectListPage;queryListByMapListPage;updateByObject;updateByMap;deleteAll; 
		deleteById;deleteByObject;deleteByMap;deleteByList;insert;insertList -->
	<!-- The above code is static code of small changes, the business code start 
		from here -->


































</mapper>