<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.idc.mapper.IdcPhysicsHostsMapper">
	<!-- 返回类型 -->
	<resultMap id="resultIdcPhysicsHostsMap" type="com.idc.model.IdcPhysicsHosts">
		<!-- 数据库属性和实体类属性对应关系 -->
				
		<result column="IDC_RESOURCES_POOL_ID" property="idcResourcesPoolId" />
				
		<result column="IDC_PHYSICS_HOSTS_ID" property="idcPhysicsHostsId" />
				
		<result column="IDC_PHYSICS_HOSTS_NAME" property="idcPhysicsHostsName" />
				
		<result column="IDC_PHYSICS_HOSTS_IP" property="idcPhysicsHostsIp" />
				
		<result column="IDC_PHYSICS_HOSTS_AREA" property="idcPhysicsHostsArea" />
				
		<result column="IDC_PHYSICS_HOSTS_CPU_CORE" property="idcPhysicsHostsCpuCore" />
				
		<result column="IDC_PHYSICS_HOSTS_MEM_SIZE" property="idcPhysicsHostsMemSize" />
				
		<result column="IDC_PHYSICS_HOSTS_STUTAS" property="idcPhysicsHostsStutas" />
				
		<result column="IDC_RESERVE_CPU_CORE" property="idcReserveCpuCore" />
				
		<result column="IDC_RESERVE_MEM_SIZE" property="idcReserveMemSize" />
				
		<result column="IDC_RESERVE_DISK_SIZE" property="idcReserveDiskSize" />
				
		<result column="IDC_PHYSICS_HOST_DISK_SIZE" property="idcPhysicsHostDiskSize" />
				
		<result column="IDC_DISK_AVAILABLE_SIZE" property="idcDiskAvailableSize" />
				
		<result column="IDC_MEM_AVAILABLE_SIZE" property="idcMemAvailableSize" />
				
		<result column="IDC_DEVICEID" property="idcDeviceid" />
				
	</resultMap>

	<!-- 通过主键查询记录 -->
	<select id="getModelById" resultType="com.idc.model.IdcPhysicsHosts">
		select
		<include refid="baseColumn" />
		from IDC_PHYSICS_HOSTS where IDC_PHYSICS_HOSTS_ID= #{0}
	</select>

	<!-- map对应的key和实体类中的属性一致 -->
	<select id="getModelByMap" resultType="com.idc.model.IdcPhysicsHosts"
		parameterType="Map">
		select
		<include refid="baseColumn" />
		from IDC_PHYSICS_HOSTS
		<include refid="whereParam" />
	</select>

	<!-- 通过实体类查询记录 -->
	<select id="getModelByObject" resultType="com.idc.model.IdcPhysicsHosts">
		select
		<include refid="baseColumn" />
		from IDC_PHYSICS_HOSTS
		<include refid="whereParam" />
	</select>

	<!-- 查询所有记录 -->
	<select id="queryList" resultType="com.idc.model.IdcPhysicsHosts">
		select
		<include refid="baseColumn" />
		from IDC_PHYSICS_HOSTS
	</select>

	<!-- 查询记录:map参数key对应实体类属性 查询多条记录 -->
	<select id="queryListByMap" resultType="com.idc.model.IdcPhysicsHosts"
		parameterType="Map">
		select
		<include refid="baseColumn" />
		from IDC_PHYSICS_HOSTS
		<include refid="whereParam" />
	</select>

	<!-- 查询记录:通过实体类查询多条记录 -->
	<select id="queryListByObject" resultType="com.idc.model.IdcPhysicsHosts">
		select
		<include refid="baseColumn" />
		from IDC_PHYSICS_HOSTS
		<include refid="whereParam" />
	</select>

	<!-- 分页查询 -->
	<select id="queryListPage" parameterType="PageBean" resultType="com.idc.model.IdcPhysicsHosts">
		select
		<include refid="baseColumn" />
		from IDC_PHYSICS_HOSTS
		<include refid="wherePageParam" />
	</select>

	<!-- update -->
	<update id="updateByObject" parameterType="com.idc.model.IdcPhysicsHosts">
		update IDC_PHYSICS_HOSTS
		<include refid="updateParam" />
        WHERE IDC_PHYSICS_HOSTS_ID = #{idcPhysicsHostsId}
	</update>

	<update id="updateByMap" parameterType="Map">
		update IDC_PHYSICS_HOSTS
		<include refid="updateParam" />
		<include refid="whereParam" />
	</update>
    <update id="updatePoolByIds">
        update IDC_PHYSICS_HOSTS set IDC_RESOURCES_POOL_ID =#{poolid} WHERE IDC_PHYSICS_HOSTS_ID  in
        <foreach collection="hostids" index="index" item="item" open="("
                 separator="," close=")">
            #{item}
        </foreach>
    </update>
    <update id="cleanPool">
        	update IDC_PHYSICS_HOSTS set IDC_RESOURCES_POOL_ID = null WHERE IDC_RESOURCES_POOL_ID  =#{0}
    </update>

    <!-- 慎用此方法 -->
	<delete id="deleteAll">
		delete from IDC_PHYSICS_HOSTS
	</delete>


	<delete id="deleteById">
		delete from IDC_PHYSICS_HOSTS where IDC_PHYSICS_HOSTS_ID= #{0}
	</delete>

	<!-- 删除数据 -->
	<delete id="deleteByObject" parameterType="com.idc.model.IdcPhysicsHosts">
		delete from IDC_PHYSICS_HOSTS
		<include refid="whereParam" />
	</delete>

	<!-- 删除数据 -->
	<delete id="deleteByMap" parameterType="Map">
		delete from IDC_PHYSICS_HOSTS
		<include refid="whereParam" />
	</delete>

	<!-- 删除数据 -->
	<delete id="deleteByList" parameterType="java.util.List">
		delete from IDC_PHYSICS_HOSTS where IDC_PHYSICS_HOSTS_ID in
		<foreach collection="list" index="index" item="item" open="("
			separator="," close=")">
			#{item}
		</foreach>
	</delete>

	<!-- insert保存方法 -->
	<insert id="insert" parameterType="com.idc.model.IdcPhysicsHosts">
		INSERT INTO IDC_PHYSICS_HOSTS
		(
		<include refid="insertColumn" />
		) VALUES
		(
		<include refid="insertColumnParam" />
		)
	</insert>

	<!-- 批量保存 -->

	<insert id="insertList" parameterType="java.util.List">
		INSERT INTO IDC_PHYSICS_HOSTS (
		<include refid="insertColumn" />
		)
		VALUES
		<foreach collection="list" item="item" index="index"
			separator=",">
			(
			<include refid="batchInsertColumnParam" />
			)
		</foreach>
	</insert>


	<!-- sql基本映射 -->
	<sql id="baseColumn">
	  <![CDATA[
		  	IDC_RESOURCES_POOL_ID as idcResourcesPoolId,
			IDC_PHYSICS_HOSTS_ID as idcPhysicsHostsId,
			IDC_PHYSICS_HOSTS_NAME as idcPhysicsHostsName,
			IDC_PHYSICS_HOSTS_IP as idcPhysicsHostsIp,
			IDC_PHYSICS_HOSTS_AREA as idcPhysicsHostsArea,
			IDC_PHYSICS_HOSTS_CPU_CORE as idcPhysicsHostsCpuCore,
			IDC_PHYSICS_HOSTS_MEM_SIZE as idcPhysicsHostsMemSize,
			IDC_PHYSICS_HOSTS_STUTAS as idcPhysicsHostsStutas,
			IDC_RESERVE_CPU_CORE as idcReserveCpuCore,
			IDC_RESERVE_MEM_SIZE as idcReserveMemSize,
			IDC_RESERVE_DISK_SIZE as idcReserveDiskSize,
			IDC_PHYSICS_HOST_DISK_SIZE as idcPhysicsHostDiskSize,
			IDC_DISK_AVAILABLE_SIZE as idcDiskAvailableSize,
			IDC_MEM_AVAILABLE_SIZE as idcMemAvailableSize,
			IDC_DEVICEID as idcDeviceid
	  ]]>
	</sql>
	<sql id="whereParam">
		<where>
						
			<if test="idcResourcesPoolId != null and idcResourcesPoolId != '' ">  <![CDATA[ and IDC_RESOURCES_POOL_ID = #{idcResourcesPoolId} ]]></if>
						
			<if test="idcPhysicsHostsId != null and idcPhysicsHostsId != '' ">  <![CDATA[ and IDC_PHYSICS_HOSTS_ID = #{idcPhysicsHostsId} ]]></if>
						
			<if test="idcPhysicsHostsName != null and idcPhysicsHostsName != '' ">  <![CDATA[ and IDC_PHYSICS_HOSTS_NAME = #{idcPhysicsHostsName} ]]></if>
						
			<if test="idcPhysicsHostsIp != null and idcPhysicsHostsIp != '' ">  <![CDATA[ and IDC_PHYSICS_HOSTS_IP = #{idcPhysicsHostsIp} ]]></if>
						
			<if test="idcPhysicsHostsArea != null and idcPhysicsHostsArea != '' ">  <![CDATA[ and IDC_PHYSICS_HOSTS_AREA = #{idcPhysicsHostsArea} ]]></if>
						
			<if test="idcPhysicsHostsCpuCore != null and idcPhysicsHostsCpuCore != '' ">  <![CDATA[ and IDC_PHYSICS_HOSTS_CPU_CORE = #{idcPhysicsHostsCpuCore} ]]></if>
						
			<if test="idcPhysicsHostsMemSize != null and idcPhysicsHostsMemSize != '' ">  <![CDATA[ and IDC_PHYSICS_HOSTS_MEM_SIZE = #{idcPhysicsHostsMemSize} ]]></if>
						
			<if test="idcPhysicsHostsStutas != null and idcPhysicsHostsStutas != '' ">  <![CDATA[ and IDC_PHYSICS_HOSTS_STUTAS = #{idcPhysicsHostsStutas} ]]></if>
						
			<if test="idcReserveCpuCore != null and idcReserveCpuCore != '' ">  <![CDATA[ and IDC_RESERVE_CPU_CORE = #{idcReserveCpuCore} ]]></if>
						
			<if test="idcReserveMemSize != null and idcReserveMemSize != '' ">  <![CDATA[ and IDC_RESERVE_MEM_SIZE = #{idcReserveMemSize} ]]></if>
						
			<if test="idcReserveDiskSize != null and idcReserveDiskSize != '' ">  <![CDATA[ and IDC_RESERVE_DISK_SIZE = #{idcReserveDiskSize} ]]></if>
						
			<if test="idcPhysicsHostDiskSize != null and idcPhysicsHostDiskSize != '' ">  <![CDATA[ and IDC_PHYSICS_HOST_DISK_SIZE = #{idcPhysicsHostDiskSize} ]]></if>
						
			<if test="idcDiskAvailableSize != null and idcDiskAvailableSize != '' ">  <![CDATA[ and IDC_DISK_AVAILABLE_SIZE = #{idcDiskAvailableSize} ]]></if>
						
			<if test="idcMemAvailableSize != null and idcMemAvailableSize != '' ">  <![CDATA[ and IDC_MEM_AVAILABLE_SIZE = #{idcMemAvailableSize} ]]></if>
						
			<if test="idcDeviceid != null and idcDeviceid != '' ">  <![CDATA[ and IDC_DEVICEID = #{idcDeviceid} ]]></if>
						
		</where>
	</sql>
	<sql id="wherePageParam">
		<where>
						
			<if test="params.idcResourcesPoolId != null and params.idcResourcesPoolId != '' ">  <![CDATA[ and IDC_RESOURCES_POOL_ID = #{params.idcResourcesPoolId} ]]></if>
						
			<if test="params.idcPhysicsHostsId != null and params.idcPhysicsHostsId != '' ">  <![CDATA[ and IDC_PHYSICS_HOSTS_ID = #{params.idcPhysicsHostsId} ]]></if>
						
			<if test="params.idcPhysicsHostsName != null and params.idcPhysicsHostsName != '' ">  <![CDATA[ and IDC_PHYSICS_HOSTS_NAME = #{params.idcPhysicsHostsName} ]]></if>
						
			<if test="params.idcPhysicsHostsIp != null and params.idcPhysicsHostsIp != '' ">  <![CDATA[ and IDC_PHYSICS_HOSTS_IP = #{params.idcPhysicsHostsIp} ]]></if>
						
			<if test="params.idcPhysicsHostsArea != null and params.idcPhysicsHostsArea != '' ">  <![CDATA[ and IDC_PHYSICS_HOSTS_AREA = #{params.idcPhysicsHostsArea} ]]></if>
						
			<if test="params.idcPhysicsHostsCpuCore != null and params.idcPhysicsHostsCpuCore != '' ">  <![CDATA[ and IDC_PHYSICS_HOSTS_CPU_CORE = #{params.idcPhysicsHostsCpuCore} ]]></if>
						
			<if test="params.idcPhysicsHostsMemSize != null and params.idcPhysicsHostsMemSize != '' ">  <![CDATA[ and IDC_PHYSICS_HOSTS_MEM_SIZE = #{params.idcPhysicsHostsMemSize} ]]></if>
						
			<if test="params.idcPhysicsHostsStutas != null and params.idcPhysicsHostsStutas != '' ">  <![CDATA[ and IDC_PHYSICS_HOSTS_STUTAS = #{params.idcPhysicsHostsStutas} ]]></if>
						
			<if test="params.idcReserveCpuCore != null and params.idcReserveCpuCore != '' ">  <![CDATA[ and IDC_RESERVE_CPU_CORE = #{params.idcReserveCpuCore} ]]></if>
						
			<if test="params.idcReserveMemSize != null and params.idcReserveMemSize != '' ">  <![CDATA[ and IDC_RESERVE_MEM_SIZE = #{params.idcReserveMemSize} ]]></if>
						
			<if test="params.idcReserveDiskSize != null and params.idcReserveDiskSize != '' ">  <![CDATA[ and IDC_RESERVE_DISK_SIZE = #{params.idcReserveDiskSize} ]]></if>
						
			<if test="params.idcPhysicsHostDiskSize != null and params.idcPhysicsHostDiskSize != '' ">  <![CDATA[ and IDC_PHYSICS_HOST_DISK_SIZE = #{params.idcPhysicsHostDiskSize} ]]></if>
						
			<if test="params.idcDiskAvailableSize != null and params.idcDiskAvailableSize != '' ">  <![CDATA[ and IDC_DISK_AVAILABLE_SIZE = #{params.idcDiskAvailableSize} ]]></if>
						
			<if test="params.idcMemAvailableSize != null and params.idcMemAvailableSize != '' ">  <![CDATA[ and IDC_MEM_AVAILABLE_SIZE = #{params.idcMemAvailableSize} ]]></if>
						
			<if test="params.idcDeviceid != null and params.idcDeviceid != '' ">  <![CDATA[ and IDC_DEVICEID = #{params.idcDeviceid} ]]></if>
						
		</where>
	</sql>

	<!-- update sql -->
	<sql id="updateParam">
		<set>
						
			<if test="idcResourcesPoolId != null and idcResourcesPoolId != '' ">  <![CDATA[  IDC_RESOURCES_POOL_ID = #{idcResourcesPoolId } ,]]></if>
						
			<if test="idcPhysicsHostsId != null and idcPhysicsHostsId != '' ">  <![CDATA[  IDC_PHYSICS_HOSTS_ID = #{idcPhysicsHostsId } ,]]></if>
						
			<if test="idcPhysicsHostsName != null and idcPhysicsHostsName != '' ">  <![CDATA[  IDC_PHYSICS_HOSTS_NAME = #{idcPhysicsHostsName } ,]]></if>
						
			<if test="idcPhysicsHostsIp != null and idcPhysicsHostsIp != '' ">  <![CDATA[  IDC_PHYSICS_HOSTS_IP = #{idcPhysicsHostsIp } ,]]></if>
						
			<if test="idcPhysicsHostsArea != null and idcPhysicsHostsArea != '' ">  <![CDATA[  IDC_PHYSICS_HOSTS_AREA = #{idcPhysicsHostsArea } ,]]></if>
						
			<if test="idcPhysicsHostsCpuCore != null and idcPhysicsHostsCpuCore != '' ">  <![CDATA[  IDC_PHYSICS_HOSTS_CPU_CORE = #{idcPhysicsHostsCpuCore } ,]]></if>
						
			<if test="idcPhysicsHostsMemSize != null and idcPhysicsHostsMemSize != '' ">  <![CDATA[  IDC_PHYSICS_HOSTS_MEM_SIZE = #{idcPhysicsHostsMemSize } ,]]></if>
						
			<if test="idcPhysicsHostsStutas != null and idcPhysicsHostsStutas != '' ">  <![CDATA[  IDC_PHYSICS_HOSTS_STUTAS = #{idcPhysicsHostsStutas } ,]]></if>
						
			<if test="idcReserveCpuCore != null and idcReserveCpuCore != '' ">  <![CDATA[  IDC_RESERVE_CPU_CORE = #{idcReserveCpuCore } ,]]></if>
						
			<if test="idcReserveMemSize != null and idcReserveMemSize != '' ">  <![CDATA[  IDC_RESERVE_MEM_SIZE = #{idcReserveMemSize } ,]]></if>
						
			<if test="idcReserveDiskSize != null and idcReserveDiskSize != '' ">  <![CDATA[  IDC_RESERVE_DISK_SIZE = #{idcReserveDiskSize } ,]]></if>
						
			<if test="idcPhysicsHostDiskSize != null and idcPhysicsHostDiskSize != '' ">  <![CDATA[  IDC_PHYSICS_HOST_DISK_SIZE = #{idcPhysicsHostDiskSize } ,]]></if>
						
			<if test="idcDiskAvailableSize != null and idcDiskAvailableSize != '' ">  <![CDATA[  IDC_DISK_AVAILABLE_SIZE = #{idcDiskAvailableSize } ,]]></if>
						
			<if test="idcMemAvailableSize != null and idcMemAvailableSize != '' ">  <![CDATA[  IDC_MEM_AVAILABLE_SIZE = #{idcMemAvailableSize } ,]]></if>
						
			<if test="idcDeviceid != null and idcDeviceid != '' ">  <![CDATA[  IDC_DEVICEID = #{idcDeviceid } ,]]></if>
						
		</set>
	</sql>

	<!-- insert sql -->
	<sql id="insertColumn">
        <trim suffix="" suffixOverrides=",">
				
		<if test="idcResourcesPoolId != null and idcResourcesPoolId != '' ">  <![CDATA[ IDC_RESOURCES_POOL_ID , ]]></if>
				
		<if test="idcPhysicsHostsId != null and idcPhysicsHostsId != '' ">  <![CDATA[ IDC_PHYSICS_HOSTS_ID , ]]></if>
				
		<if test="idcPhysicsHostsName != null and idcPhysicsHostsName != '' ">  <![CDATA[ IDC_PHYSICS_HOSTS_NAME , ]]></if>
				
		<if test="idcPhysicsHostsIp != null and idcPhysicsHostsIp != '' ">  <![CDATA[ IDC_PHYSICS_HOSTS_IP , ]]></if>
				
		<if test="idcPhysicsHostsArea != null and idcPhysicsHostsArea != '' ">  <![CDATA[ IDC_PHYSICS_HOSTS_AREA , ]]></if>
				
		<if test="idcPhysicsHostsCpuCore != null and idcPhysicsHostsCpuCore != '' ">  <![CDATA[ IDC_PHYSICS_HOSTS_CPU_CORE , ]]></if>
				
		<if test="idcPhysicsHostsMemSize != null and idcPhysicsHostsMemSize != '' ">  <![CDATA[ IDC_PHYSICS_HOSTS_MEM_SIZE , ]]></if>
				
		<if test="idcPhysicsHostsStutas != null and idcPhysicsHostsStutas != '' ">  <![CDATA[ IDC_PHYSICS_HOSTS_STUTAS , ]]></if>
				
		<if test="idcReserveCpuCore != null and idcReserveCpuCore != '' ">  <![CDATA[ IDC_RESERVE_CPU_CORE , ]]></if>
				
		<if test="idcReserveMemSize != null and idcReserveMemSize != '' ">  <![CDATA[ IDC_RESERVE_MEM_SIZE , ]]></if>
				
		<if test="idcReserveDiskSize != null and idcReserveDiskSize != '' ">  <![CDATA[ IDC_RESERVE_DISK_SIZE , ]]></if>
				
		<if test="idcPhysicsHostDiskSize != null and idcPhysicsHostDiskSize != '' ">  <![CDATA[ IDC_PHYSICS_HOST_DISK_SIZE , ]]></if>
				
		<if test="idcDiskAvailableSize != null and idcDiskAvailableSize != '' ">  <![CDATA[ IDC_DISK_AVAILABLE_SIZE , ]]></if>
				
		<if test="idcMemAvailableSize != null and idcMemAvailableSize != '' ">  <![CDATA[ IDC_MEM_AVAILABLE_SIZE , ]]></if>
				
		<if test="idcDeviceid != null and idcDeviceid != '' ">  <![CDATA[ IDC_DEVICEID , ]]></if>
				</trim>
	</sql>

	<sql id="insertColumnParam">
        <trim suffix="" suffixOverrides=",">
				
		<if test="idcResourcesPoolId != null and idcResourcesPoolId != '' ">  <![CDATA[ #{idcResourcesPoolId } , ]]></if>
				
		<if test="idcPhysicsHostsId != null and idcPhysicsHostsId != '' ">  <![CDATA[ #{idcPhysicsHostsId } , ]]></if>
				
		<if test="idcPhysicsHostsName != null and idcPhysicsHostsName != '' ">  <![CDATA[ #{idcPhysicsHostsName } , ]]></if>
				
		<if test="idcPhysicsHostsIp != null and idcPhysicsHostsIp != '' ">  <![CDATA[ #{idcPhysicsHostsIp } , ]]></if>
				
		<if test="idcPhysicsHostsArea != null and idcPhysicsHostsArea != '' ">  <![CDATA[ #{idcPhysicsHostsArea } , ]]></if>
				
		<if test="idcPhysicsHostsCpuCore != null and idcPhysicsHostsCpuCore != '' ">  <![CDATA[ #{idcPhysicsHostsCpuCore } , ]]></if>
				
		<if test="idcPhysicsHostsMemSize != null and idcPhysicsHostsMemSize != '' ">  <![CDATA[ #{idcPhysicsHostsMemSize } , ]]></if>
				
		<if test="idcPhysicsHostsStutas != null and idcPhysicsHostsStutas != '' ">  <![CDATA[ #{idcPhysicsHostsStutas } , ]]></if>
				
		<if test="idcReserveCpuCore != null and idcReserveCpuCore != '' ">  <![CDATA[ #{idcReserveCpuCore } , ]]></if>
				
		<if test="idcReserveMemSize != null and idcReserveMemSize != '' ">  <![CDATA[ #{idcReserveMemSize } , ]]></if>
				
		<if test="idcReserveDiskSize != null and idcReserveDiskSize != '' ">  <![CDATA[ #{idcReserveDiskSize } , ]]></if>
				
		<if test="idcPhysicsHostDiskSize != null and idcPhysicsHostDiskSize != '' ">  <![CDATA[ #{idcPhysicsHostDiskSize } , ]]></if>
				
		<if test="idcDiskAvailableSize != null and idcDiskAvailableSize != '' ">  <![CDATA[ #{idcDiskAvailableSize } , ]]></if>
				
		<if test="idcMemAvailableSize != null and idcMemAvailableSize != '' ">  <![CDATA[ #{idcMemAvailableSize } , ]]></if>
				
		<if test="idcDeviceid != null and idcDeviceid != '' ">  <![CDATA[ #{idcDeviceid } , ]]></if>
				</trim>
	</sql>

    <select id="queryListPageByMap" resultType="com.idc.model.IdcPhysicsHosts">
        select
        <include refid="baseColumn" />
        from IDC_PHYSICS_HOSTS a
        LEFT JOIN IDC_DEVICE b on a.IDC_PHYSICS_HOSTS_ID = b.deviceid
        <where>
            b.isdelete = 0
            <if test="params.idcResourcesPoolId != null and params.idcResourcesPoolId != '' ">  <![CDATA[ and IDC_RESOURCES_POOL_ID = #{params.idcResourcesPoolId} ]]></if>

            <if test="params.idcPhysicsHostsId != null and params.idcPhysicsHostsId != '' ">  <![CDATA[ and IDC_PHYSICS_HOSTS_ID = #{params.idcPhysicsHostsId} ]]></if>

            <if test="params.idcPhysicsHostsName != null and params.idcPhysicsHostsName != '' ">  <![CDATA[ and IDC_PHYSICS_HOSTS_NAME = #{params.idcPhysicsHostsName} ]]></if>

            <if test="params.idcPhysicsHostsIp != null and params.idcPhysicsHostsIp != '' ">  <![CDATA[ and IDC_PHYSICS_HOSTS_IP = #{params.idcPhysicsHostsIp} ]]></if>

            <if test="params.idcPhysicsHostsArea != null and params.idcPhysicsHostsArea != '' ">  <![CDATA[ and IDC_PHYSICS_HOSTS_AREA = #{params.idcPhysicsHostsArea} ]]></if>

            <if test="params.idcPhysicsHostsCpuCore != null and params.idcPhysicsHostsCpuCore != '' ">  <![CDATA[ and IDC_PHYSICS_HOSTS_CPU_CORE = #{params.idcPhysicsHostsCpuCore} ]]></if>

            <if test="params.idcPhysicsHostsMemSize != null and params.idcPhysicsHostsMemSize != '' ">  <![CDATA[ and IDC_PHYSICS_HOSTS_MEM_SIZE = #{params.idcPhysicsHostsMemSize} ]]></if>

            <if test="params.idcPhysicsHostsStutas != null and params.idcPhysicsHostsStutas != '' ">  <![CDATA[ and IDC_PHYSICS_HOSTS_STUTAS = #{params.idcPhysicsHostsStutas} ]]></if>

            <if test="params.idcReserveCpuCore != null and params.idcReserveCpuCore != '' ">  <![CDATA[ and IDC_RESERVE_CPU_CORE = #{params.idcReserveCpuCore} ]]></if>

            <if test="params.idcReserveMemSize != null and params.idcReserveMemSize != '' ">  <![CDATA[ and IDC_RESERVE_MEM_SIZE = #{params.idcReserveMemSize} ]]></if>

            <if test="params.idcReserveDiskSize != null and params.idcReserveDiskSize != '' ">  <![CDATA[ and IDC_RESERVE_DISK_SIZE = #{params.idcReserveDiskSize} ]]></if>

            <if test="params.idcPhysicsHostDiskSize != null and params.idcPhysicsHostDiskSize != '' ">  <![CDATA[ and IDC_PHYSICS_HOST_DISK_SIZE = #{params.idcPhysicsHostDiskSize} ]]></if>

            <if test="params.idcDiskAvailableSize != null and params.idcDiskAvailableSize != '' ">  <![CDATA[ and IDC_DISK_AVAILABLE_SIZE = #{params.idcDiskAvailableSize} ]]></if>

            <if test="params.idcMemAvailableSize != null and params.idcMemAvailableSize != '' ">  <![CDATA[ and IDC_MEM_AVAILABLE_SIZE = #{params.idcMemAvailableSize} ]]></if>

            <if test="params.idcDeviceid != null and params.idcDeviceid != '' ">  <![CDATA[ and IDC_DEVICEID = #{params.idcDeviceid} ]]></if>

            <if test="params.name != null and params.name != '' ">  <![CDATA[ and b.name = #{params.name} ]]></if>

            <if test="params.rackId != null and params.rackId != '' ">  <![CDATA[ and b.RACK_ID = #{params.rackId} ]]></if>

            <if test="params.actiontype != null and params.actiontype == 'select' ">  <![CDATA[ and a.IDC_RESOURCES_POOL_ID  is null ]]></if>

        </where>
    </select>

	<!-- 批量保存 -->
	<sql id="batchInsertColumn">
			IDC_RESOURCES_POOL_ID,IDC_PHYSICS_HOSTS_ID,IDC_PHYSICS_HOSTS_NAME,IDC_PHYSICS_HOSTS_IP,IDC_PHYSICS_HOSTS_AREA,IDC_PHYSICS_HOSTS_CPU_CORE,IDC_PHYSICS_HOSTS_MEM_SIZE,IDC_PHYSICS_HOSTS_STUTAS,IDC_RESERVE_CPU_CORE,IDC_RESERVE_MEM_SIZE,IDC_RESERVE_DISK_SIZE,IDC_PHYSICS_HOST_DISK_SIZE,IDC_DISK_AVAILABLE_SIZE,IDC_MEM_AVAILABLE_SIZE,IDC_DEVICEID
	</sql>

	<sql id="batchInsertColumnParam">
			#{item.idcResourcesPoolId},#{item.idcPhysicsHostsId},#{item.idcPhysicsHostsName},#{item.idcPhysicsHostsIp},#{item.idcPhysicsHostsArea},#{item.idcPhysicsHostsCpuCore},#{item.idcPhysicsHostsMemSize},#{item.idcPhysicsHostsStutas},#{item.idcReserveCpuCore},#{item.idcReserveMemSize},#{item.idcReserveDiskSize},#{item.idcPhysicsHostDiskSize},#{item.idcDiskAvailableSize},#{item.idcMemAvailableSize},#{item.idcDeviceid}
	</sql>
	<!-- The above code Provide us with useful modules,e.g. getModelById;getModelByMap;getModelByObject;queryList;queryListByMap;queryListByObject;queryListByObjectListPage;queryListByMapListPage;updateByObject;updateByMap;deleteAll; 
		deleteById;deleteByObject;deleteByMap;deleteByList;insert;insertList -->
	<!-- The above code is static code of small changes, the business code start 
		from here -->


































</mapper>